@import './index.scss';

.Video {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;

    span {
        font-size: 40px;
        color: $error;
    }

    .backup {
        font-size: 36px;
        color: #999;
    }
}